@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header-area{
  display: flex;
  border:1px solid rgb(58, 57, 57);
}

.file-area{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120vh;
  background: #ffffff;
}
.bord{
  border-style:dotted;
}
.drag-area{
  border: 2px dashed rgb(10, 10, 10);
  height: 300px;
  width: 600px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.drag-area span{
  font-size: 25px;
  font-weight: 3000;
  color: rgb(12, 12, 12);
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: rgb(114, 241, 82);
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
